###
### Untrusted apps.
###
### This file defines the rules for untrusted apps running with
### 32 < targetSdkVersion <= 36.
###
### See public/untrusted_app.te for more information about which apps are
### placed in this selinux domain.
###

typeattribute untrusted_app_36 coredomain;

app_domain(untrusted_app_36)
untrusted_app_domain(untrusted_app_36)
net_domain(untrusted_app_36)
bluetooth_domain(untrusted_app_36)

allow untrusted_app_36 domain:memfd_file ioctl;
allowxperm untrusted_app_36 domain:memfd_file ioctl ashmem_ioctls;
